USE [LogBox]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 10/12/2014 20:03:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[employee](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_firstname] [varchar](50) NOT NULL,
	[employee_lastname] [varchar](50) NOT NULL,
	[employee_middlename] [varchar](50) NULL,
	[id_num] [varchar](12) NULL,
	[birth_date] [datetime] NULL,
	[birth_place] [varchar](150) NULL,
	[gender] [char](1) NULL,
	[religion_id] [int] NULL,
	[civil_status] [char](3) NULL,
	[marriage_date] [datetime] NULL,
	[height] [int] NULL,
	[weight] [int] NULL,
	[blood_type] [char](2) NULL,
	[tin] [varchar](12) NULL,
	[sss] [varchar](12) NULL,
	[hdmf] [varchar](12) NULL,
	[phic] [varchar](12) NULL,
	[drivers_license] [varchar](12) NULL,
	[is_inactive] [smallint] NULL,
	[pin] [char](2) NULL,
 CONSTRAINT [PK_employee] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_id_num] UNIQUE NONCLUSTERED 
(
	[id_num] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[employee] ON
INSERT [dbo].[employee] ([employee_id], [employee_firstname], [employee_lastname], [employee_middlename], [id_num], [birth_date], [birth_place], [gender], [religion_id], [civil_status], [marriage_date], [height], [weight], [blood_type], [tin], [sss], [hdmf], [phic], [drivers_license], [is_inactive], [pin]) VALUES (3, N'Brendo', N'Balanay', N'Bezar', N'077', CAST(0x00006E3A00000000 AS DateTime), N'Pinan, Zamboanga del Norte', N'M', 2, N'MRD', NULL, 5, 80, N'BB', N'276-719-623', N'100-6875694', N'176-00011662', N'140-50060129', N'J01-98-02714', 0, NULL)
INSERT [dbo].[employee] ([employee_id], [employee_firstname], [employee_lastname], [employee_middlename], [id_num], [birth_date], [birth_place], [gender], [religion_id], [civil_status], [marriage_date], [height], [weight], [blood_type], [tin], [sss], [hdmf], [phic], [drivers_license], [is_inactive], [pin]) VALUES (27, N'Annul', N'Ajias', N'Tagaro', N'169', CAST(0x00007C4800000000 AS DateTime), N'Ozamis City

', N'M', 2, N'SGL', NULL, 5, 105, N'OO', N'265205663', N'0815867315', N'176000128543', N'140500965319', N'K0407001059', 0, NULL)
INSERT [dbo].[employee] ([employee_id], [employee_firstname], [employee_lastname], [employee_middlename], [id_num], [birth_date], [birth_place], [gender], [religion_id], [civil_status], [marriage_date], [height], [weight], [blood_type], [tin], [sss], [hdmf], [phic], [drivers_license], [is_inactive], [pin]) VALUES (28, N'Christine', N'Andus', N'Cabuguas', N'074', CAST(0x0000742B00000000 AS DateTime), N'Dippolog City
', N'F', 2, N'SGL', NULL, 5, 52, N'OO', N'947034444', N'1006874420', N'176000116521', N'140250271510', NULL, 0, NULL)
INSERT [dbo].[employee] ([employee_id], [employee_firstname], [employee_lastname], [employee_middlename], [id_num], [birth_date], [birth_place], [gender], [religion_id], [civil_status], [marriage_date], [height], [weight], [blood_type], [tin], [sss], [hdmf], [phic], [drivers_license], [is_inactive], [pin]) VALUES (55, N'Rosa Claire', N'Clapano', N'Caboverde', N'174', CAST(0x00007B8000000000 AS DateTime), N'Estaka, Dipolog City
', N'F', 2, N'SGL', NULL, NULL, NULL, N'OO', N'262015709000', N'0627125834', N'176000129819', NULL, NULL, 0, NULL)
INSERT [dbo].[employee] ([employee_id], [employee_firstname], [employee_lastname], [employee_middlename], [id_num], [birth_date], [birth_place], [gender], [religion_id], [civil_status], [marriage_date], [height], [weight], [blood_type], [tin], [sss], [hdmf], [phic], [drivers_license], [is_inactive], [pin]) VALUES (89, N'Marivic', N'Gresos', N'Egdao', N'020', CAST(0x0000712400000000 AS DateTime), N'Miputak, Dipolog City
', N'F', 2, N'MRD', CAST(0x00009D3100000000 AS DateTime), 5, 60, N'AA', N'920788660', N'1007115120', N'176000111559', N'140500746404', N'J0101035350', 0, NULL)
GO
print 'Processed 100 total records'
INSERT [dbo].[employee] ([employee_id], [employee_firstname], [employee_lastname], [employee_middlename], [id_num], [birth_date], [birth_place], [gender], [religion_id], [civil_status], [marriage_date], [height], [weight], [blood_type], [tin], [sss], [hdmf], [phic], [drivers_license], [is_inactive], [pin]) VALUES (113, N'Cesarevic', N'Lopez', N'Bontia', N'308', CAST(0x00007F7600000000 AS DateTime), N'Brgy. Madasigon, Molave Zambo. del Sur
', N'F', 2, N'SGL', NULL, 5, 42, NULL, N'422922421', N'1009413765', N'912227044818', N'140501532394', NULL, 0, NULL)
INSERT [dbo].[employee] ([employee_id], [employee_firstname], [employee_lastname], [employee_middlename], [id_num], [birth_date], [birth_place], [gender], [religion_id], [civil_status], [marriage_date], [height], [weight], [blood_type], [tin], [sss], [hdmf], [phic], [drivers_license], [is_inactive], [pin]) VALUES (126, N'Bernie Jonel', N'Manriquez', N'Acas', N'193', CAST(0x00007B0900000000 AS DateTime), N'Dipolog City
', N'M', 2, N'MRD', CAST(0x0000A0F700000000 AS DateTime), 5, 75, N'AB', N'266431430', N'1007671936', N'090143007610', N'140501059311', N'J0104002907', 0, NULL)
INSERT [dbo].[employee] ([employee_id], [employee_firstname], [employee_lastname], [employee_middlename], [id_num], [birth_date], [birth_place], [gender], [religion_id], [civil_status], [marriage_date], [height], [weight], [blood_type], [tin], [sss], [hdmf], [phic], [drivers_license], [is_inactive], [pin]) VALUES (179, N' Zeneth', N'Tanjay', N'Fullido', N'016', CAST(0x000072F800000000 AS DateTime), N'Looc, Plaridel
', N'F', 2, N'MRD', CAST(0x000097B200000000 AS DateTime), 5, 71, N'BB', N'920788644', N'1007164964', N'176000125181', N'140500746374', NULL, 0, NULL)
GO
print 'Processed 200 total records'
INSERT [dbo].[employee] ([employee_id], [employee_firstname], [employee_lastname], [employee_middlename], [id_num], [birth_date], [birth_place], [gender], [religion_id], [civil_status], [marriage_date], [height], [weight], [blood_type], [tin], [sss], [hdmf], [phic], [drivers_license], [is_inactive], [pin]) VALUES (204, N'Mirriam', N'Sumaylo', N'Adaro', N'382', CAST(0x000084DF00000000 AS DateTime), N'Brgy. Dos, Katipunan Zamboanga del Norte

', N'F', 2, N'SGL', NULL, 153, 103, NULL, NULL, N'1010963301', NULL, N'140251925042', NULL, 0, NULL)
INSERT [dbo].[employee] ([employee_id], [employee_firstname], [employee_lastname], [employee_middlename], [id_num], [birth_date], [birth_place], [gender], [religion_id], [civil_status], [marriage_date], [height], [weight], [blood_type], [tin], [sss], [hdmf], [phic], [drivers_license], [is_inactive], [pin]) VALUES (210, N'Alfie', N'Borlasa', N'Japon', N'340', CAST(0x0000844C00000000 AS DateTime), N'Thru-cut, Manasa Compostela Valley Province
', N'M', 2, N'SGL', NULL, 5, 72, N'OO', NULL, NULL, NULL, NULL, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[employee] OFF
/****** Object:  Default [DF_Table_1_is_active]    Script Date: 10/12/2014 20:03:07 ******/
ALTER TABLE [dbo].[employee] ADD  CONSTRAINT [DF_Table_1_is_active]  DEFAULT ((0)) FOR [is_inactive]

