

ALTER PROCEDURE [dbo].[pr_get_payroll]
	@payroll_code char(15),
	@id_num varchar(12) = null
AS
BEGIN
			declare @dtr_date_from datetime,
					@dtr_date_until datetime,
					@working_days int,
					@saturdays int, 
					@sundays int,
					@payroll_status char(3)
			 
			-- get date range
			select @dtr_date_from = payroll_from,
				   @dtr_date_until = payroll_until,
				   @payroll_status = payrollstatus_code
			  from payrollcode pc (nolock)
			 where pc.payroll_code = @payroll_code 

			-- get number of days required and number of saturdays
			select @working_days = working_days,
				   @saturdays = saturdays, 
				   @sundays = sundays
			  from dbo.dtr_fn_get_working_days(@dtr_date_from, @dtr_date_until)

			-- get maternity leaves
			 select distinct id_num 
			   into #on_maternity_leave
			   from leave l (nolock)
			   join leavedetail d (nolock)
			     on d.leave_id = l.leave_id
				and d.location_code = l.location_code
			  where d.leave_date between @dtr_date_from and @dtr_date_until
			    and d.leavestatus_code = 'APP'
				and d.leavereason_code = 'MAT'
			    and (isnull(@id_num,'') = '' or l.id_num = @id_num)

			-- get the employees affected by the date range
			-- use the paf table
			select e.*,
				   (case when isnull(m.id_num,'') = '' then 0 else 1 end) on_maternity_leave
			  into #employee 
			  from dbo.paf_fn_active_employees(dateadd(mm,-2,@dtr_date_from),@dtr_date_until) e
		 left join #on_maternity_leave m
		        on m.id_num = e.id_num
			 where (isnull(@id_num,'') = '' or e.id_num = @id_num)
        
			-- get deductions
			select pd.id_num id_num,
				   sum(pd.deduction_amount) deduction
			  into #deductions
			  from payrolldeduction pd (nolock)
			 where pd.payroll_code = @payroll_code
		  group by pd.id_num

			-- get allowances
			select pa.id_num id_num,
				   sum(pa.allowance_amount) allowance
			  into #allowances
			  from payrollallowance pa (nolock)
			 where pa.payroll_code = @payroll_code
		  group by pa.id_num

			-- get adjustments (plus)
			select pad.id_num id_num,
				   sum(pad.adjustment_amount) adjustment_plus
			  into #adjustments_plus
			  from payrolladjustment pad
			  join t_adjustmenttype at (nolock)
			    on at.adjustmenttype_code = pad.adjustmenttype_code
			 where pad.payroll_code = @payroll_code
			   and isnull(at.is_deduction,0) = 0
		  group by pad.id_num

			-- get adjustments (minus)
			select pad.id_num id_num,
				   sum(pad.adjustment_amount) adjustment_minus
			  into #adjustments_minus
			  from payrolladjustment pad
			  join t_adjustmenttype at (nolock)
			    on at.adjustmenttype_code = pad.adjustmenttype_code
			 where pad.payroll_code = @payroll_code
			   and isnull(at.is_deduction,0) = 1   
		  group by pad.id_num
		    
		    -- holidays regular
			select count(loc_code) holidays, loc_code
			  into #holidays_regular
			  from dbo.dtr_fn_get_holidays(@dtr_date_from, @dtr_date_until) 
			 where holiday_id is not null
			   and datepart(dw,holiday_date) <> 1 -- exclude sundays
			   and holidaytype_code = 'RH'
		  group by loc_code

		  -- holidays special
			select count(loc_code) holidays, loc_code
			  into #holidays_special
			  from dbo.dtr_fn_get_holidays(@dtr_date_from, @dtr_date_until) 
			 where holiday_id is not null
			   and datepart(dw,holiday_date) <> 1 -- exclude sundays
			   and holidaytype_code = 'SPL'
		  group by loc_code

			select pr.payroll_code,
			       pr.id_num,
				   pr.number_of_days, -- actual days
				   
				   -- days for payroll
				   (case when  (pr.number_of_days + isnull(leaves_with_pay,0) + isnull(leaves_without_pay,0) 
				             + (isnull(late,0) / 60.00 / 8.00 ) + (isnull(undertime,0) / 60.00 / 8.00 ) 
							 + ((isnull(undertime_without_pay,0) / 60.00 / 8.00) * (case when e.empstatus_code in ('PRE','PRO') then -1.00 else 1.00 end)) 
							 + (isnull(pr.business_trips,0))) + 0.01 > @working_days
					then @working_days 
					else 
					( pr.number_of_days 
					  + isnull(leaves_with_pay,0) 
					  + isnull(leaves_without_pay,0) 
					  + (isnull(late,0) / 60.00 / 8.00 ) 
					  + (isnull(undertime,0) / 60.00 / 8.00 ) 
					  + ((isnull(undertime_without_pay,0) / 60.00 / 8.00) * (case when e.empstatus_code in ('PRE','PRO') then -1.00 else 1.00 end)) 
					  + (isnull(pr.business_trips,0)))
					end 
				   -- days for payroll
				   ) days_payroll2,

				   /************** days payroll *****************/
				   (case when (pr.number_of_days + isnull(leaves_with_pay,0) 
						    + isnull(leaves_without_pay,0) 
							+ (isnull(late,0) / 60.00 / 8.00 ) 
							+ (isnull(undertime,0) / 60.00 / 8.00 ) 
							+ ((isnull(undertime_without_pay,0) / 60.00 / 8.00) * (case when e.empstatus_code in ('PRE','PRO') then -1.00 else 1.00 end)) 
							+ (isnull(pr.business_trips,0)) 
							+  (
							   case when e.empstatus_code in ('PRE','PRO') then 
										(isnull(pr.business_trips,0)
										+ (case when e.empstatus_code in ('PRE','PRO') then 
											isnull(hr.holidays,0)  
										else isnull(hr.holidays,0) + isnull(hs.holidays,0) 
										end)
										) 
								else 0 end 
							   )
							   ) + 0.01 > @working_days
					then @working_days 
					else 
						(
							pr.number_of_days 
							+ isnull(leaves_with_pay,0) 
							+ isnull(leaves_without_pay,0) 
							+ (isnull(late,0) / 60.00 / 8.00 ) 
							+ (isnull(undertime,0) / 60.00 / 8.00 ) 
							+ ((isnull(undertime_without_pay,0) / 60.00 / 8.00) * (case when e.empstatus_code in ('PRE','PRO') then -1.00 else 1.00 end)) 
							+ (isnull(pr.business_trips,0))
							+ (
							   case when e.empstatus_code in ('PRE','PRO') then 
										(isnull(pr.business_trips,0)
										+ (case when e.empstatus_code in ('PRE','PRO') then 
											isnull(hr.holidays,0)  
										else isnull(hr.holidays,0) + isnull(hs.holidays,0) 
										end)
										) 
								else 0 end
							   )
						)
					end ) days_payroll,
				   /************** days payroll *****************/
				   isnull(pr.leaves_with_pay,0.00) leaves_with_pay,
				   isnull(pr.leaves_without_pay,0.00) leaves_without_pay,
				   isnull(pr.undertime,0.00) undertime,
				   isnull(pr.undertime_without_pay,0.00) undertime_without_pay,
				   isnull(pr.late,0.00) late,


				   /************** gross *****************/
				   isnull(round((case when e.frequency_code = 'MLY'
				   then 
					  pr.salary
				   else
				      pr.salary *
					   (
					     case when (pr.number_of_days + isnull(leaves_with_pay,0) 
						    + isnull(leaves_without_pay,0) 
							+ (isnull(late,0) / 60.00 / 8.00 ) 
							+ (isnull(undertime,0) / 60.00 / 8.00 ) 
							+ (case when e.empstatus_code in ('PRE','PRO') then 0 else(isnull(undertime_without_pay,0) / 60.00 / 8.00) end)
							+ (isnull(pr.business_trips,0)) 
							+  ( 
					  		    (case when e.empstatus_code in ('PRE','PRO') then 
											isnull(hr.holidays,0)  
										else isnull(hr.holidays,0) + isnull(hs.holidays,0) 
										end)
							   )) + 0.01 > @working_days
					then @working_days 
					else 
						(
							pr.number_of_days 
							+ isnull(leaves_with_pay,0) 
							+ isnull(leaves_without_pay,0) 
							+ (isnull(late,0) / 60.00 / 8.00 ) 
							+ (isnull(undertime,0) / 60.00 / 8.00 ) 
							+ (case when e.empstatus_code in ('PRE','PRO') then 0 else(isnull(undertime_without_pay,0) / 60.00 / 8.00) end)
							+ (isnull(pr.business_trips,0))  
							+ (
							   (case when e.empstatus_code in ('PRE','PRO') then 
											isnull(hr.holidays,0)  
										else isnull(hr.holidays,0) + isnull(hs.holidays,0) 
										end)
							   )
						)
					end 
				   ) * 1.00  
				   end
				   ),2),00) as gross,
				    /************** gross *****************/
				   sf.frequency_name,
				   (convert(varchar(10),@dtr_date_from,101) + ' - ' + convert(varchar(10),@dtr_date_until,101)) period,
				   isnull(d.deduction,0.00) deduction,
				   isnull(a.allowance,0.00) allowance,
				   (isnull(adp.adjustment_plus,0.00) - isnull(adm.adjustment_minus,0.00)) adjustment,
				   isnull(adp.adjustment_plus,0.00) adjustment_plus,
				   isnull(adm.adjustment_minus,0.00) adjustment_minus,
				   pr.salary,
				   pr.dependents,
				   e.frequency_code,
				   isnull(pr.credit_location,e.location_code) credit_location,
				   pr.business_trips
			  into #payroll
			  from payroll pr
		      join #employee e
		        on e.id_num = pr.id_num
			  join t_salaryfrequency sf (nolock)
				on sf.frequency_code = e.frequency_code collate SQL_Latin1_General_CP1_CI_AS
		 left join #deductions d
				on d.id_num = pr.id_num
		 left join #allowances a
				on a.id_num = pr.id_num
		 left join #adjustments_plus adp
				on adp.id_num = pr.id_num
		 left join #adjustments_minus adm
				on adm.id_num = pr.id_num
		 left join #holidays_regular hr
                on hr.loc_code = e.location_code
         left join #holidays_special hs
                on hs.loc_code = e.location_code
			 where pr.payroll_code = @payroll_code

			-- compute all leaves, undertimes, lates, etc against the daily rate and round off to 2 decimal digits
			-- previously, rounding off was done at the net amount
			-- this solution has been proposed to hopefully solve the discrepancy issues due to rounding off
			select p.*,
			       e.employee_name employee_name,
				   e.location_code location_code,
				   e.department_code department_code,
				   e.declare_dependents declare_dependents,
				   e.empstatus_code,
				   null btrips_full,
				   null btrips_am,
				   null btrips_pm,
				   ps.payrollstatus_code payrollstatus_code,
				   ps.payrollstatus_name payrollsatus_name,
				   /***** amounts *****/
				   round((isnull(p.undertime_without_pay,0) / 60.00 / 8.00) * (case when e.frequency_code = 'MLY' then dbo.pr_fn_get_daily_rate(e.salary) else e.salary end),2) ut,
				   round((isnull(p.late,0) / 60.00 / 8.00) * (case when e.frequency_code = 'MLY' then dbo.pr_fn_get_daily_rate(e.salary) else e.salary end),2) lt,
				   round((case when e.frequency_code = 'DLY' then 0 else @working_days - p.days_payroll end) * dbo.pr_fn_get_daily_rate(e.salary),2) incomplete,
				   round((isnull(p.leaves_without_pay,0)) * (case when e.frequency_code = 'MLY' then dbo.pr_fn_get_daily_rate(e.salary) else e.salary end),2) lwop
				   /***** amounts *****/
			  into #amounts
			  from #payroll p
			  join #employee e 
			    on e.id_num = p.id_num
			  join payrollcode pc (nolock)
			    on pc.payroll_code = p.payroll_code
			  join t_payrollstatus ps (nolock)
				on ps.payrollstatus_code = pc.payrollstatus_code
		 left join #adjustments_plus ap
		        on ap.id_num = p.id_num
		 left join #adjustments_minus am
		        on am.id_num = p.id_num
		  
			-- return
			select p.undertime_without_pay as undertime,
			       p.*,
				   (p.ut + p.lwop) undertime_lwop,
				   ((gross + allowance + adjustment) - ((case when p.empstatus_code in ('PRE','PRO') then 0 else ut end) + lt + lwop + deduction + incomplete)) net,
				   (
						(case p.frequency_code when 'MLY' then p.salary else p.salary * p.number_of_days end) + isnull(allowance,0.00) + (isnull(p.adjustment_plus,0.00) - isnull(p.adjustment_minus,0.00)) -
						((isnull(p.leaves_without_pay,0.00) + (isnull(p.undertime / 60.00 / 8.00,0.00)) + (isnull(p.late / 60.00 / 8.00,0.00)) + (@working_days - 
								(case when  (p.number_of_days + isnull(leaves_with_pay,0) + (isnull(late,0) / 60.00 / 8.00 ) + isnull(leaves_without_pay,0) + (isnull(undertime,0) / 60.00 / 8.00 ) 
								    + (case when p.empstatus_code in ('PRE','PRO') then 0 else(isnull(undertime_without_pay,0) / 60.00 / 8.00) end)
									+ (isnull(p.business_trips,0))) + 0.01 > @working_days
									then @working_days 
									else (p.number_of_days + isnull(leaves_with_pay,0) + (isnull(late,0) / 60.00 / 8.00 ) + isnull(leaves_without_pay,0) + (isnull(undertime,0) / 60.00 / 8.00 ) 
									+ (case when p.empstatus_code in ('PRE','PRO') then 0 else(isnull(undertime_without_pay,0) / 60.00 / 8.00) end)
									+ (isnull(p.business_trips,0)))
								end 
									)) ) * (dbo.pr_fn_get_daily_rate(salary))) - isnull(deduction,0.00)

				   ) as net2,
				   @working_days working_days
			  from #amounts p
		  order by p.employee_name

			drop table #employee
			drop table #on_maternity_leave
			drop table #payroll
			drop table #deductions
			drop table #allowances
			drop table #adjustments_plus
			drop table #adjustments_minus
			drop table #holidays_regular
			drop table #holidays_special
			drop table #amounts

END
