

ALTER PROCEDURE [dbo].[pr_generate_payroll]
	@payroll_code char(15),
	@update_time_attendance smallint,
	@compute_deductions smallint,
	@copy_deductions smallint,
	@copy_adjustments smallint,
	@id_num varchar(12) = null
AS
BEGIN
		-- This routine generates the payroll by automatically adding records for deductions, allowances, etc.

		declare @payroll_from datetime,
				@payroll_until datetime,
				@payrollstatus_code char(3),
				@working_days int,
				@saturdays int, 
				@sundays int,
				@payroll_code_previous char(15),
				@login_am time(0),
				@logout_am time(0),
				@login_pm time(0),
				@logout_pm time(0),
				@date_param datetime,
				@generate_date datetime

	  set @generate_date = getdate()

	  -- get the status and dates
	  select @payroll_from = payroll_from,
			 @payroll_until = payroll_until,
			 @payrollstatus_code = payrollstatus_code
	    from dbo.pr_fn_get_payroll_details(@payroll_code)

	  set @date_param = @payroll_until
	  if datename(dw, @date_param) = 'Saturday' set @date_param = DATEADD(day, -1, @date_param)

	  -- get login time for late comparison
	  select @login_am = LOGIN_AM,
	         @logout_am = LOGOUT_AM,
	         @login_pm = LOGIN_PM,
			 @logout_pm = LOGOUT_PM
	    from dbo.dtr_fn_get_times(@date_param)

	   -- get previous payroll code
	   -- used to get previous deduction amount to populate current payroll
	   select top 1 @payroll_code_previous = payroll_code
	     from payrollcode 
	    where payroll_from < @payroll_from -- payroll_code < @payroll_code
	 order by payroll_from desc

		-- get credit location of previous payroll
		-- copy this value to the current payroll
		select p.id_num,
		       p.credit_location
		  into #payroll_previous
		  from payroll p (nolock)
		 where p.payroll_code = @payroll_code_previous

	   -- do no proceed if the status is other than INP = In progress
	   if @payrollstatus_code = 'INP'
	   begin
			  set xact_abort on

			  begin transaction

			  -- get days
			  select @working_days = working_days,
			         @saturdays = saturdays,
					 @sundays = sundays
			    from dbo.dtr_fn_get_working_days(@payroll_from, @payroll_until)
				
			 -- get maternity leaves
			 select distinct id_num 
			   into #on_maternity_leave
			   from leave l (nolock)
			   join leavedetail d (nolock)
			     on d.leave_id = l.leave_id
				and d.location_code = l.location_code
			  where d.leave_date between @payroll_from and @payroll_until
			    and d.leavestatus_code = 'APP'
				and d.leavereason_code = 'MAT'


			 -- holidays
			 select count(loc_code) holidays, 
			        loc_code
			   into #holidays
	           from dbo.dtr_fn_get_holidays(@payroll_from, @payroll_until) 
	          where holiday_id is not null
			    and datename(dw, holiday_date) not in ('Saturday','Sunday')
           group by loc_code

			  -- employees
			  select e.*,
			         (case when isnull(m.id_num,'') = '' then 0 else 1 end) on_maternity_leave
				into #employee 
				from dbo.paf_fn_active_employees(@payroll_from, @payroll_until) e
		   left join #on_maternity_leave m
		          on m.id_num = e.id_num
			   where isnull(@id_num,'') = '' or e.id_num = @id_num
	 
			  -- get all dtr records covered by the payroll period
			  create table #dtr
			  (
				--dtr_id int,
				id_num varchar(12) collate SQL_Latin1_General_CP1_CI_AS,
				dtr_date datetime,
				time_in_am time,
				time_out_am time,
				time_in_pm time,
				time_out_pm time,
				total_hours_am decimal(4,2),
				total_hours_pm decimal(4,2),
				total_hours_am_minutes decimal(6,2),
				total_hours_pm_minutes decimal(6,2),
				location_code char(3)
				--primary key (id_num, dtr_date)
			  )

			  select *
				into #dtrall
				from dbo.dtr_fn_get_dtr(@payroll_from,@payroll_until,null,1)

			  insert #dtr
			  select *
				from #dtrall -- dbo.dtr_fn_get_dtr(@payroll_from,@payroll_until,@id_num,1)
			   where datename(dw, dtr_date) not in ('Saturday','Sunday')

			   -- get saturdays
			   select *
			    into #dtr_saturday
				from #dtrall -- dbo.dtr_fn_get_dtr(@payroll_from,@payroll_until,@id_num,1)
			   where datename(dw, dtr_date) = 'Saturday'

			-- get total hours for saturday
			select sum(total_hours_am) + sum(total_hours_pm) total_hours_saturday,
			       id_num
			  into #dtr_saturday_totals
			  from #dtr_saturday
		  group by id_num
	  
			select te.id_num,
				   te.employee_name,
				   te.location_code,
				   l.location_name,
				   te.salary,
				   te.frequency_code,
				   te.position_code,
				   te.empstatus_code,
				   @working_days working_days,
				   isnull((case when te.empstatus_code in ('REG','RRE') then @saturdays else (s.total_hours_saturday / 8.00) end),0) saturdays,
				   isnull((case when te.empstatus_code in ('REG','RRE') then @sundays else 0 end),0) sundays,
				   sum(total_hours_am) + sum(total_hours_pm) total_hours
			  into #hours
			  from #dtr td
		right join #employee te
				on td.id_num = te.id_num
			  join location l (nolock)
				on l.location_code = te.location_code
		left join #dtr_saturday_totals s
		        on s.id_num = te.id_num
		  group by te.id_num, 
				   te.employee_name, 
				   te.location_code, 
				   l.location_name,
				   te.salary,
				   te.frequency_code,
				   te.position_code ,
				   te.empstatus_code,
				   s.total_hours_saturday
				   
			-- hours
			select *,
				   (case when ((isnull(total_hours,0) / 8.00) + saturdays + sundays + 
						isnull(case when hr.empstatus_code in ('REG','RRE') then holidays else 0 end,0)
					) > @working_days
					then @working_days 
					else ((isnull(total_hours,0) / 8.00) + saturdays + sundays + 
					isnull(case when hr.empstatus_code in ('REG','RRE') then holidays else 0 end,0))
					end 
				   ) days_attended
			  into #days
			  from #hours hr
		 left join #holidays h
		        on h.loc_code = hr.location_code
			 
			  -- get leaves including business trips
			  -- both with and without pay
			  select ld.leave_date,
			         id_num,
					 is_paid,
					 am_pm,
					 leavetype_code
			    into #leaves
			    from leavedetail ld (nolock)
				join leave l (nolock)
				  on l.leave_id = ld.leave_id
				 and l.location_code = ld.location_code
			   where ld.leave_date between @payroll_from and @payroll_until
			     and leavestatus_code = 'APP'
				 -- and l.leavetype_code <> 'BT'
				 and (isnull(@id_num,'') = '' or l.id_num = @id_num)

			  -- get undertime paid
			  select sum(datediff(ss,time_from,time_until) / 60.00) undertime,
			         id_num
			    into #undertime
			    from dtrundertime u (nolock)
			   where u.dtr_date between @payroll_from and @payroll_until
			     and u.timestatus_code = 'APP'
				 and isnull(is_paid,0) = 1
				 -- and datename(dw, dtr_date) not in ('Saturday','Sunday')
			group by id_num

			  -- get undertime unpaid
			  select sum(datediff(ss,time_from,time_until) / 60.00) undertime_wop,
			         id_num
			    into #undertime_wop
			    from dtrundertime u (nolock)
			   where u.dtr_date between @payroll_from and @payroll_until
			     and u.timestatus_code = 'APP'
				 and isnull(is_paid,0) = 0
				 -- and datename(dw, dtr_date) not in ('Saturday','Sunday')
			group by id_num

			  -- get all undertime
			  select * 
			    into #undertime_all
			    from dtrundertime u (nolock)
			   where dtr_date 
			 between @payroll_from and @payroll_until
				 and u.timestatus_code = 'APP'
				 -- and datename(dw, dtr_date) not in ('Saturday','Sunday')

			  -- get saturday undertime paid
			  -- purpose is for saturday late comparison
			  select sum(datediff(ss,time_from,time_until) / 60.00) undertime_sat,
			         id_num
			    into #undertime_sat
			    from dtrundertime u (nolock)
			   where u.dtr_date between @payroll_from and @payroll_until
			     and u.timestatus_code = 'APP'
				 and isnull(is_paid,0) = 1
				 and datename(dw, dtr_date) in ('Saturday','Sunday')
				 and time_from = '08:00'
			group by id_num

			  -- get saturday undertime unpate
			  -- purpose is for saturday late comparison
			  select sum(datediff(ss,time_from,time_until) / 60.00) undertime_sat_wop,
			         id_num
			    into #undertime_sat_wop
			    from dtrundertime u (nolock)
			   where u.dtr_date between @payroll_from and @payroll_until
			     and u.timestatus_code = 'APP'
				 and isnull(is_paid,0) = 0
				 and datename(dw, dtr_date) in ('Saturday','Sunday')
			group by id_num

			  -- get overtime
			  
			  -- get late AM
			  select sum(datediff(ss,@login_am,la.time_in_am) / 60.00) late_am,
			         la.id_num
			    into #lateam
			    from #dtr la (nolock)
		   left join #undertime_all u
	              on u.dtr_date = la.dtr_date
		         and u.id_num = la.id_num
		         and u.am_pm = 'A'
			   where (datediff(ss,@login_am,la.time_in_am) / 60.00) >= 11.00
			     and la.time_in_am < @logout_am
				 and DATEPART(DW, la.dtr_date) <> 7
			     and coalesce(u.time_from,la.time_in_am) > @login_am
			group by la.id_num 
			

			  -- get late PM
			  select sum(datediff(ss,@login_pm,lp.time_in_pm) / 60.00) late_pm,
			         lp.id_num
			    into #latepm
			    from #dtr lp (nolock)
		   left join #undertime_all u
			      on u.dtr_date = lp.dtr_date
			     and u.id_num = lp.id_num
			     and u.am_pm = 'P'
			   where (datediff(ss,@login_pm,lp.time_in_pm) / 60.00) >= 11.00
			     and lp.time_in_pm > @logout_am
				 and DATEPART(DW, lp.dtr_date) <> 7
			     and coalesce(u.time_from,lp.time_in_pm) > @login_pm
			group by lp.id_num
			
			-- get late saturday
			select sum(datediff(ss,'08:00',ls.time_in_am) / 60.00)  - isnull(us.undertime_sat, 0) late_sat,
				   ls.id_num
			  into #latesat
			  from #dtr_saturday ls (nolock)
		 left join #undertime_all u
			    on u.dtr_date = ls.dtr_date
			   and u.id_num = ls.id_num
			   and u.am_pm = 'A'
		 left join #undertime_sat us
		        on us.id_num = ls.id_num
			 where (datediff(ss,'08:00', ls.time_in_am) / 60.00) >= 11.00
			   and ls.time_in_am < '12:00'
			   -- and DATEPART(DW, ls.dtr_date) = 7
			   and coalesce(u.time_from,ls.time_in_am) > '08:00'
		  group by ls.id_num,
		           us.undertime_sat
		    
			  -- get dependents
			select count(id_num) dependents,
				   id_num
			  into #dependents
			  from empfamily ef (nolock)
			 where isnull(ef.is_dependent,0) = 1
			   and isnull(ef.is_deceased,0) = 0
			   and id_num in (select 1 from employee e (nolock) where isnull(declare_dependents,0) = 1)
		  group by ef.id_num

			-- for testing only
			--select * from #dtr
			--select * from #dtr_saturday
			--select * from #dtr_saturday_totals
			-- select * from #days
			--select * from #undertime_sat_wop
		  
			
			 -- insert new payroll record
			  insert 
				into payroll (payroll_code, id_num, number_of_days, undertime, undertime_without_pay, late, leaves_with_pay, leaves_without_pay, business_trips, skeletal, dependents, salary, declared_salary, credit_location, generate_date)
			  select @payroll_code,
					 e.id_num,
					
					 /***** number of days present *****/
					 isnull(d.days_attended,0.00) 
					    - (case when e.empstatus_code in ('PRO','PRE') then 0 else
								isnull((select late_sat from #latesat ls where ls.id_num = e.id_num) / 60.00 / 8.00,0) end) 
						- (case when e.empstatus_code in ('PRO','PRE') then 0 else 
								isnull((select undertime_sat_wop from #undertime_sat_wop ls where ls.id_num = e.id_num) / 60.00 / 8.00,0) end)
						- (case when e.empstatus_code in ('PRO','PRE') then 0 else
								 isnull((select count(id_num) from #leaves ln where ln.id_num = e.id_num and datename(dw, ln.leave_date) in ('Saturday','Sunday')),0) end),
					 /***** number of days present *****/

					 /***** undertime with pay *****/
					 (select undertime 
						from #undertime 
					   where id_num = e.id_num),
					 /***** undertime with pay *****/

					 /***** undertime without pay *****/
					 (select undertime_wop 
						from #undertime_wop
					   where id_num = e.id_num),
					 /***** undertime without pay *****/

					 /***** late *****/
					 (	nullif((
						isnull((select late_am 
							     from #lateam la
							    where la.id_num = e.id_num),0)

						 +

						 isnull((select late_pm 
								  from #latepm lp
								 where lp.id_num = e.id_num),0)
						
						+

							isnull((select late_sat
								from #latesat ls
								where ls.id_num = e.id_num),0)),0)

							--- isnull((select undertime_sat
							--	from #undertime_sat us
							--	where us.id_num = e.id_num),0)
					 ),
					 /***** late *****/
					 
					 /***** leaves (fullday + half-day leaves) *****/ 
					 /***** with pay *****/
					 (nullif(((select count(id_num) 
					     from #leaves l1
						where l1.id_num = e.id_num
						  and isnull(l1.is_paid,0) = 1
						  and isnull(am_pm,'') = ''
						  and l1.leavetype_code <> 'BT') 
						  
						+

					   -- AM only
					   (select count(id_num) * 4.00 / 8.00 
					     from #leaves l2
						where l2.id_num = e.id_num
						  and isnull(l2.is_paid,0) = 1
						  and isnull(am_pm,'') = 'A'
						  and l2.leavetype_code <> 'BT')

						+

						-- PM only
						(select count(id_num) * 4.00 / 8.00 
					     from #leaves l3
						where l3.id_num = e.id_num
						  and isnull(l3.is_paid,0) = 1
						  and isnull(am_pm,'') = 'P'
						  and l3.leavetype_code <> 'BT'))
					 ,0)),
					 /***** with pay *****/
					 /***** without pay *****/
					 (nullif(((select count(id_num) 
					     from #leaves l1
						where l1.id_num = e.id_num
						  and isnull(l1.is_paid,0) = 0
						  and isnull(am_pm,'') = ''
						  and l1.leavetype_code <> 'BT') 
						  
						+

					   -- AM only
					   (select count(id_num) * 4.00 / 8.00 
					     from #leaves l2
						where l2.id_num = e.id_num
						  and isnull(l2.is_paid,0) = 0
						  and isnull(am_pm,'') = 'A'
						  and l2.leavetype_code <> 'BT')

						+

						-- PM only
						(select count(id_num) * 4.00 / 8.00 
					     from #leaves l3
						where l3.id_num = e.id_num
						  and isnull(l3.is_paid,0) = 0
						  and isnull(am_pm,'') = 'P'
						  and l3.leavetype_code <> 'BT'))

					 ,0)),
					 /***** without pay *****/
				     /***** leaves *****/
				     /***** business trips ****/
					 (nullif(((select count(id_num) 
					     from #leaves l1
						where l1.id_num = e.id_num
						  --and isnull(l1.is_paid,0) = 1
						  and isnull(am_pm,'') = ''
						  and l1.leavetype_code = 'BT') 
						  
						+

					   -- AM only
					   (select count(id_num) * 4.00 / 8.00 
					     from #leaves l2
						where l2.id_num = e.id_num
						  --and isnull(l2.is_paid,0) = 1
						  and isnull(am_pm,'') = 'A'
						  and l2.leavetype_code = 'BT')

						+

						-- PM only
						(select count(id_num) * 4.00 / 8.00 
					     from #leaves l3
						where l3.id_num = e.id_num
						  --and isnull(l3.is_paid,0) = 1
						  and isnull(am_pm,'') = 'P'
						  and l3.leavetype_code = 'BT'))
					 ,0)),
					 /***** business trips ****/
					 null,

					 /***** dependents *****/
					 (case isnull(e.declare_dependents,0) when 1 then nullif(dp.dependents,0) else null end),
					 /***** dependents *****/

					 (case e.frequency_code when 'MLY' then e.salary / 2.00 else e.salary end), -- actual salary
					 dbo.pr_fn_get_declared_salary(e.positiontype_code), -- declared salary
					 ppr.credit_location, -- credit location
					 @generate_date
				from #employee e
		   left join payroll pr 
				  on pr.id_num = e.id_num
				 and pr.payroll_code = @payroll_code
		   left join #days d
		          on d.id_num = e.id_num
		   left join #dependents dp
		          on dp.id_num = e.id_num
		   left join #payroll_previous ppr
		          on ppr.id_num = e.id_num
			   where isnull(pr.id_num,'') = ''

			  -- update payroll
			  if isnull(@update_time_attendance,0) = 1
			  begin
			  update p
			     set number_of_days =  isnull(d.days_attended,0.00) 
					    - (case when e.empstatus_code in ('PRO','PRE') then 0 else
								isnull((select late_sat from #latesat ls where ls.id_num = e.id_num) / 60.00 / 8.00,0) end) 
						- (case when e.empstatus_code in ('PRO','PRE') then 0 else  
								isnull((select undertime_sat_wop from #undertime_sat_wop ls where ls.id_num = e.id_num) / 60.00 / 8.00,0) end)
						- (case when e.empstatus_code in ('PRO','PRE') then 0 else
								 isnull((select count(id_num) from #leaves ln where ln.id_num = e.id_num and datename(dw, ln.leave_date) in ('Saturday','Sunday')),0) end),

					 undertime = (select undertime 
									from #undertime 
								   where id_num = e.id_num), 

					undertime_without_pay = (select undertime_wop 
											   from #undertime_wop 
											  where id_num = e.id_num), 

					late = (nullif((
								isnull((select late_am 
										 from #lateam la
										where la.id_num = e.id_num),0)

								 +

								 isnull((select late_pm 
										  from #latepm lp
										 where lp.id_num = e.id_num),0)
										 
								+

								isnull((select late_sat
								  from #latesat ls
								 where ls.id_num = e.id_num),0)),0)

								--- isnull((select undertime_sat
								--    from #undertime_sat us
								--   where us.id_num = e.id_num),0)

							),

					 leaves_with_pay =  (nullif(((select count(id_num) 
										from #leaves l1
									where l1.id_num = p.id_num
										and isnull(l1.is_paid,0) = 1
										and isnull(am_pm,'') = ''
										and l1.leavetype_code <> 'BT') 
						  
									+

									 -- AM only
									   (select count(id_num) * 4.00 / 8.00 
										 from #leaves l2
										where l2.id_num = e.id_num
										  and isnull(l2.is_paid,0) = 1
										  and isnull(am_pm,'') = 'A'
										  and l2.leavetype_code <> 'BT')

										+

										-- PM only
										(select count(id_num) * 4.00 / 8.00 
										 from #leaves l3
										where l3.id_num = e.id_num
										  and isnull(l3.is_paid,0) = 1
										  and isnull(am_pm,'') = 'P'
										  and l3.leavetype_code <> 'BT'))
									,0)),

					 leaves_without_pay =  (nullif(((select count(id_num) 
														from #leaves l1
													where l1.id_num = p.id_num
														and isnull(l1.is_paid,0) = 0
														and isnull(am_pm,'') = ''
														and l1.leavetype_code <> 'BT') 
						  
										+

										-- AM only
									   (select count(id_num) * 4.00 / 8.00 
										 from #leaves l2
										where l2.id_num = e.id_num
										  and isnull(l2.is_paid,0) = 0
										  and isnull(am_pm,'') = 'A'
										  and l2.leavetype_code <> 'BT')

										+

										-- PM only
										(select count(id_num) * 4.00 / 8.00 
										 from #leaves l3
										where l3.id_num = e.id_num
										  and isnull(l3.is_paid,0) = 0
										  and isnull(am_pm,'') = 'P'
										  and l3.leavetype_code <> 'BT'))
									,0)),
					 business_trips = (nullif(((select count(id_num) 
												 from #leaves l1
												where l1.id_num = e.id_num
												  and isnull(l1.is_paid,0) = 1
												  and isnull(am_pm,'') = ''
												  and l1.leavetype_code = 'BT') 
						  
												+

											   -- AM only
											   (select count(id_num) * 4.00 / 8.00 
												 from #leaves l2
												where l2.id_num = e.id_num
												  and isnull(l2.is_paid,0) = 1
												  and isnull(am_pm,'') = 'A'
												  and l2.leavetype_code = 'BT')

												+

												-- PM only
												(select count(id_num) * 4.00 / 8.00 
												 from #leaves l3
												where l3.id_num = e.id_num
												  and isnull(l3.is_paid,0) = 1
												  and isnull(am_pm,'') = 'P'
												  and l3.leavetype_code = 'BT'))
											 ,0)),
					 skeletal = null, 
					 dependents =  (case isnull(e.declare_dependents,0) when 1 then nullif(dp.dependents,0) else null end), 
					 salary = (case e.frequency_code when 'MLY' then e.salary / 2.00 else e.salary end), 
					 declared_salary = dbo.pr_fn_get_declared_salary(e.positiontype_code),
					 credit_location = ppr.credit_location,
					 generate_date = @generate_date
			    from payroll p
				join #employee e
				  on e.id_num = p.id_num
				join #days d
		          on d.id_num = e.id_num
		   left join #dependents dp
		          on dp.id_num = e.id_num
		   left join #payroll_previous ppr
		          on ppr.id_num = e.id_num
			   where p.payroll_code = @payroll_code
			
			end -- end update payroll

			  -- allowances
			  insert
				into payrollallowance (payroll_code, id_num, allowancetype_code, allowance_amount)
			  select @payroll_code,
					 e.id_num,
					 pf.allowancetype_code,
					 sum(pf.allowance_amount) / 2.00
				from #employee e
				join pafallowance pf (nolock)
				  on pf.paf_id = e.paf_id
				join t_allowancetype ta (nolock)
				  on ta.allowancetype_code = pf.allowancetype_code
				 and isnull(ta.is_voucher,0) = 0
			   where not exists (select 1
								   from payrollallowance pa
								  where pa.payroll_code = @payroll_code
									and pa.id_num = e.id_num
									and pa.allowancetype_code = pf.allowancetype_code)
			group by e.id_num,
					 pf.allowancetype_code
     
			-- get gross
		   select d.*,
				  round((case when d.frequency_code = 'MLY'
				  then (e.salary / 2.00) - ((working_days - days_attended) * (e.salary * 12 / 365.00))
				  else e.salary * days_attended * 1.00  
				  end
				  ),2) as gross,
				  (dbo.pr_fn_get_declared_salary(e.positiontype_code)) as declared_salary,
				  dp.dependents
			 into #payroll
			 from #days d
			 join #employee e
			   on e.id_num = d.id_num
		left join #dependents dp
			   on dp.id_num = d.id_num

			  -- select dbo.pr_fn_get_daily_rate(salary), * from #payroll where id_num = @id_num FOR CHECKING ONLY


			  -- insert the required deduction
			  -- Code has been changed Nov 2018.. set to zero instead of computing
			  -- it gives the impression the values have been overriden when "Copy from previous" option is selected
			  insert 
				into payrolldeduction (payroll_code, id_num, deductiontype_code, deduction_amount)
			  select @payroll_code,
					 pr.id_num,
					 td.deductiontype_code,
					 isnull((
						case td.deductiontype_code
						when 'SSS' then 0 -- dbo.pr_fn_get_sss_contribution(pr.salary)
						when 'PAG' then 0 -- dbo.pr_fn_get_pagibig_contribution(e.empstatus_code)
						when 'WTX' then 0 -- dbo.pr_fn_get_withholding_tax(e.empstatus_code,e.positiontype_code,pr.declared_salary,pr.dependents)
						when 'PHL' then 0 -- dbo.pr_fn_get_phic_contribution(e.positiontype_code)
						end
					 ),0) deduction_amount
				from #payroll pr, 
					 t_deductiontype td (nolock),
					  #employee e 
			   where td.deductiontype_code in ('SSS','PAG','WTX','PHL')
				 and e.id_num = pr.id_num 
				 and not exists (select 1 
								   from payrolldeduction pd 
								  where pd.id_num = pr.id_num
								    and pd.payroll_code = @payroll_code
									and pd.deductiontype_code = td.deductiontype_code)

			  -- update deductions as variables could have been possibly changed.. i.e. gross, dependents, etc.
			  -- this is an option in the UI.. if ticked.. values only need to be copied from the previous payroll

			  if isnull(@compute_deductions,0) = 1 
			  begin
				  update pd
					 set deduction_amount = isnull((
							case pd.deductiontype_code
							when 'SSS' then dbo.pr_fn_get_sss_contribution(pr.salary)
							when 'PAG' then dbo.pr_fn_get_pagibig_contribution(e.empstatus_code)
							when 'WTX' then dbo.pr_fn_get_withholding_tax(e.empstatus_code,e.positiontype_code,pr.declared_salary,pr.dependents)
							when 'PHL' then dbo.pr_fn_get_phic_contribution(pr.salary)
							end
						 ),0)
					from payrolldeduction pd
					join #employee e
					  on e.id_num = pd.id_num 
					join #payroll pr
					  on pr.id_num = pd.id_num
				   where pd.payroll_code = @payroll_code
					 and pd.deductiontype_code in ('SSS','PAG','WTX','PHL') 
					 and (isnull(@id_num,'') = '' or pd.id_num = @id_num) 
			  end
			  else if isnull(@copy_deductions,0) = 1
			  begin
				select *
				  into #deduction_statutory
				  from payrolldeduction (nolock)
				 where payroll_code = @payroll_code_previous
				   and deductiontype_code in ('SSS','PAG','WTX','PHL') 

				update pd
				   set pd.deduction_amount = td.deduction_amount
				  from payrolldeduction pd
				  join #deduction_statutory td
				    on td.deductiontype_code = pd.deductiontype_code
				   and td.id_num = pd.id_num
				 where pd.payroll_code = @payroll_code
				   and pd.deductiontype_code in ('SSS','PAG','WTX','PHL')  
				   and (isnull(@id_num,'') = '' or pd.id_num = @id_num) 

				  -- non-required deductions
				  -- check previous payroll and insert first
				  -- this would populate the amount entered previously
				  select *
					into #deduction
					from payrolldeduction pd (nolock)
				   where pd.payroll_code = @payroll_code_previous
					 and pd.deductiontype_code not in ('SSS','PAG','WTX','PHL')

				  insert 
					into payrolldeduction (payroll_code, id_num, deductiontype_code, deduction_amount, bcf_amount, bcf_sub_location_code)
				  select @payroll_code,
						 d.id_num,
						 d.deductiontype_code,
						 d.deduction_amount,
						 d.bcf_amount,
						 d.bcf_sub_location_code
					from #deduction d
					join #employee e
					  on e.id_num = d.id_num
				   where not exists (select 1 
									   from payrolldeduction pd (nolock) 
									  where pd.id_num = d.id_num
										and pd.payroll_code = @payroll_code
										and pd.deductiontype_code = d.deductiontype_code)
				end
				-- end if isnull(@copy_deductions,0) = 0 

			  -- insert deductions that have been added recently
			  insert 
				into payrolldeduction (payroll_code, id_num, deductiontype_code, deduction_amount)
			  select @payroll_code,
					 pr.id_num,
					 td.deductiontype_code,
					 0.00
				from #payroll pr, 
					 t_deductiontype td (nolock),
					 #employee e
			   where e.id_num = pr.id_num
				 and not exists (select 1 
								   from payrolldeduction pd 
								  where pd.id_num = pr.id_num
								    and pd.payroll_code = @payroll_code
									and pd.deductiontype_code = td.deductiontype_code)

			  -- adjustments
			  -- check previous adjustments and insert
			  -- NOTE: make this an option in the UI.. for now this will do
			  select pa.*
			    into #adjustments
			    from payrolladjustment pa (nolock)
				join #payroll pr
				  on pr.id_num = pa.id_num
			   where pa.payroll_code = @payroll_code_previous

			  if isnull(@copy_adjustments,0) = 1 
			  begin
				  insert 
					into payrolladjustment (payroll_code, id_num, adjustmenttype_code, adjustment_amount)
				  select @payroll_code,
						 a.id_num,
						 a.adjustmenttype_code,
						 a.adjustment_amount
					from #adjustments a
					join #employee e
					  on e.id_num = a.id_num
				   where not exists (select 1 
									   from payrolladjustment pa (nolock) 
									  where pa.id_num = a.id_num
										and pa.payroll_code = @payroll_code
										and pa.adjustmenttype_code = a.adjustmenttype_code)
			  end 
			
			  /*select * from #employee
			  select * from #dtr
			  select * from #dtr_saturday
			  select * from #hours
			  select * from #lateam
			  select * from #latepm
			  select * from #latesat
			  select * from #leaves
			  select * from #days
			  select * from #holidays
			  select * from #payroll
			  select * from #dependents
			  select * from #adjustments
			  select * from #undertime
			  select * from #undertime_wop
			  select * from #undertime_all
			  select * from #undertime_sat*/
			  

			  drop table #on_maternity_leave
			  drop table #employee
			  drop table #dtrall
			  drop table #dtr
			  drop table #dtr_saturday
			  drop table #dtr_saturday_totals
			  drop table #hours
			  drop table #lateam
			  drop table #latepm
			  drop table #latesat
			  drop table #leaves
			  drop table #days
			  drop table #holidays
			  drop table #payroll
			  drop table #payroll_previous
			  drop table #dependents
			  drop table #adjustments
			  drop table #undertime
			  drop table #undertime_wop
			  drop table #undertime_all
			  drop table #undertime_sat
			  drop table #undertime_sat_wop
			  
			  --if isnull(@copy_deductions,0) = 0 drop table #deduction
			  if isnull(@copy_deductions,0) = 1 drop table #deduction_statutory

			  commit transaction

		end

END
