
ALTER PROCEDURE [dbo].[rpt_pr_personnel_movement_summary]
	@payroll_code char(15),
	@date_from datetime,
	@date_until datetime
AS
BEGIN
	declare @payroll_from datetime,
			@payroll_until datetime

	-- get the dates
	if isnull(@payroll_code,'') <> '' 
	begin
		select @payroll_from = payroll_from,
			   @payroll_until = payroll_until
		  from dbo.pr_fn_get_payroll_details(@payroll_code)
	end
	else
	begin
	  set @payroll_from = @date_from
	  set @payroll_until = @date_until
	end

	-- get affected paf records
	select *
	  into #paf
	  from paf p (nolock)
	 where p.effective_date between @payroll_from and @payroll_until
	   and isnull(is_cancelled,0) = 0 

	-- get previous PAF details
	select p.paf_id,
		   p.id_num,
	       p.salary salary_previous,
		   p.frequency_code,
		   ps.position_name position_previous,
		   l.location_name location_previous,
	       dbo.rpt_fn_get_concat_paf_allowances(p.paf_id,'TYPE') allowances_previous,
		   dbo.rpt_fn_get_concat_paf_allowances(p.paf_id,'AMOUNT') allowances_previous_amount
	  into #paf_previous
	  from paf (nolock) p
	  join t_position ps (nolock)
	    on ps.position_code = p.position_code
	  join location l (nolock)
	    on l.location_code = p.location_code
	  join #paf pt
	    on pt.id_num = p.id_num
	 where isnull(p.is_cancelled,0) = 0
	   and p.id_num = pt.id_num
	   and p.effective_until = dateadd(dd,-1,pt.effective_date)

	-- total allowances
	select sum(allowance_amount) allowance, paf_id
	  into #allowances
	  from pafallowance pa (nolock)
	 where pa.paf_id in (select paf_id from #paf)
  group by paf_id

  -- total allowances previous
	select sum(allowance_amount) allowance, paf_id
	  into #allowances_previous
	  from pafallowance pa (nolock)
	 where pa.paf_id in (select paf_id from #paf_previous)
  group by paf_id

	-- return
	select distinct  (convert(varchar(10),@payroll_from,101) + ' - ' + convert(varchar(10),@payroll_until,101)) payroll_period,
		   e.id_num,
	       p.paf_id,
		   upper(e.employee_lastname + ', ' + e.employee_firstname) employee_name,
		   dbo.rpt_fn_get_concat_paf_comps(p.paf_id) type_of_change,
		   convert(varchar(25),p.effective_date,107) effective_date,
		   null as payroll,

		   -- /*** FROM ***/
		   pp.position_previous,
		   pp.location_previous,
		   (convert(varchar,convert(money,pp.salary_previous),1) + ' ' + upper(sfp.frequency_name)) salary_previous,
	       pp.allowances_previous,
		   pp.allowances_previous_amount,
		   (case when isnull(aa.allowance,0) = 0 then '-' else convert(varchar,convert(money,aa.allowance),1) end) allowances_total_previous,


		   -- /*** TO ***/
		   --  /*** position ***/
		   (
				case when ps.position_name = pp.position_previous then ' - '
				else ps.position_name end
		   ) position,
		   --  /*** position ***/

		   --  /*** location ***/
		   (
				case when l.location_name = pp.location_previous then ' - '
				else l.location_name end
		   ) location,
		   --  /*** location ***/
		  
		   -- /*** salary ***/
		   (
				case when p.salary = pp.salary_previous then ' - '
				else convert(varchar,convert(money,p.salary),1)  + ' ' + upper(sf.frequency_name) end
		   ) salary,
		   -- /*** salary ***/
		   
		   dbo.rpt_fn_get_concat_paf_allowances(p.paf_id,'TYPE') allowances,
		   dbo.rpt_fn_get_concat_paf_allowances(p.paf_id,'AMOUNT') allowances_amount,
		    (case when isnull(a.allowance,0) = 0 then '-' else convert(varchar,convert(money,a.allowance),1) end) allowances_total,
			p.paf_remarks,
			p.empstatus_code
	  from #paf p (nolock)
	  join employee e (nolock)
	    on e.id_num = p.id_num
	  join t_position ps (nolock)
	    on ps.position_code = p.position_code
	  join t_salaryfrequency sf (nolock)
	    on sf.frequency_code = p.frequency_code
	  join location l (nolock)
	    on l.location_code = p.location_code
 left join #paf_previous pp
        on pp.id_num = p.id_num
 left join t_salaryfrequency sfp (nolock)
	    on sfp.frequency_code = pp.frequency_code
 left join #allowances a
	    on a.paf_id = p.paf_id
 left join #allowances_previous aa
        on aa.paf_id = pp.paf_id
  order by employee_name

	-- FOR CHECKING PURPOSES
	-- select * from #paf
	-- select * from #paf_previous

	-- drop temp tables
	drop table #paf
	drop table #paf_previous
	drop table #allowances
	drop table #allowances_previous
END
