
ALTER PROCEDURE [dbo].[rpt_pr_leave_report]
	@payroll_code char(15),
	@date_from datetime,
	@date_until datetime
AS
BEGIN
	declare @payroll_from datetime,
			@payroll_until datetime

	-- get the dates
	if isnull(@payroll_code,'') <> '' 
	begin
		select @payroll_from = payroll_from,
			   @payroll_until = payroll_until
		  from dbo.pr_fn_get_payroll_details(@payroll_code)
	end
	else
	begin
	  set @payroll_from = @date_from
	  set @payroll_until = @date_until
	end

	print 'parameters below:'

	print @payroll_from
	print @payroll_until

	select ld.*,
	       l.leavetype_code,
		   l.id_num
	  into #leaves
	  from leavedetail ld (nolock)
	  join leave l (nolock)
	    on l.leave_id = ld.leave_id
	   and l.location_code = ld.location_code
	 where ld.leave_date between @payroll_from and @payroll_until
	   and ld.leavestatus_code = 'APP'

	-- employee details
	select *
	  into #employees
	  from dbo.paf_fn_active_employees(@payroll_from,@payroll_until)

	select e.location_code,
	       lc.location_name,
		   (convert(varchar(10),@payroll_from,101) + ' - ' + convert(varchar(10),@payroll_until,101)) payroll_period,
		   e.employee_name,
		   e.empstatus_code,
		   (convert(varchar(10),l.leave_date,101)) leave_date,
		   leavetype_code,
		   -- business trip
		   (case leavetype_code when 'BT' then 
				case isnull(is_paid,0) when 1 then 
					case isnull(am_pm,'') when '' then '1.00'
					--else case when am_pm = 'A' then '0.44' else '0.56' end 
					else '0.50' 
					end
				else ' - ' end
			else ' - ' end
			) business_trip,
		   -- vacation leave
		   (case leavetype_code when 'VL' then
			   case isnull(is_paid,0) when 1 then 
					case isnull(am_pm,'') when '' then '1.00'
					--else case when am_pm = 'A' then '0.44' else '0.56' end 
					else '0.50'
					end
				else ' - ' end
			else ' - ' end
			) vl_with_pay,
			(case leavetype_code when 'VL' then
			   case isnull(is_paid,0) when 0 then 
					case isnull(am_pm,'') when '' then '1.00'
					--else case when am_pm = 'A' then '0.44' else '0.56' end 
					else '0.50'
					end
				else ' - ' end
			else ' - ' end
			) vl_without_pay,
			-- sick leave
		   (case leavetype_code when 'SL' then
			   case isnull(is_paid,0) when 1 then 
					case isnull(am_pm,'') when '' then '1.00'
					--else case when am_pm = 'A' then '0.44' else '0.56' end 
					else '0.50'
					end
				else null end
			else null end
			) sl_with_pay,
			(case leavetype_code when 'SL' then
			   case isnull(is_paid,0) when 0 then 
					case isnull(am_pm,'') when '' then '1.00' 
					--else case when am_pm = 'A' then '0.44' else '0.56' end 
					else '0.50'
					end
				else ' - ' end
			else ' - ' end
			) sl_without_pay,
			-- maternity
		   (case leavetype_code when 'MT' then 
				case isnull(am_pm,'') when '' then '1.00' 
				--else case when am_pm = 'A' then '0.44' else '0.56' end 
				else '0.50'
				end
			else ' - ' end
			) maternity,
			-- paternity
			(case leavetype_code when 'PT' then 
				case isnull(am_pm,'') when '' then '1.00' 
				--else case when am_pm = 'A' then '0.44' else '0.56' end 
				else '0.50' 
				end
			else ' - ' end
			) paternity,
			l.leave_remarks
	  from #leaves l
	  join #employees e (nolock)
	    on e.id_num =  l.id_num
	  join location lc (nolock)
	    on lc.location_code = e.location_code
  order by lc.location_name, employee_name

	-- drop tables
	drop table #leaves
	drop table #employees

END
