DECLARE  @t_leavereason TABLE
(
	leavereason_code char(3) primary key,
	leavereason_name varchar(50),
	leavereason_description varchar(250),
	leavetype_code char(3),
	is_active smallint
)


INSERT INTO @t_leavereason VALUES (N'6S ', N'Conduct 6''S evaluations', N'conduct 6''S evaluation', N'BT ', 1)
INSERT INTO @t_leavereason VALUES (N'AC ', N'Accounts Confirmation/Reconfirmation', N'Accounts confirmation, reconfirmation, verification', N'BT ', 1)
INSERT INTO @t_leavereason VALUES (N'ACM', N'Accompany Family/Relatives/Friends', N'accompany family/relatives/friends', N'VL ', 1)

	merge t_leavereason r
	using @t_leavereason t
	   on r.leavereason_code = t.leavereason_code
	 when matched then
   update set r.is_active = t.is_active,
          r.leavereason_name = t.leavereason_name
     when not matched then
   insert (leavereason_code, leavereason_name, leavereason_description, leavetype_code, is_active) 
   values (t.leavereason_code, t.leavereason_name, t.leavereason_description, t.leavetype_code, t.is_active);
